body{
    background-color: #E8E8E8;
    header{
        background-color: #848888;
        text-align: center;
        height: 5em;
        padding:2em 0 0 0;
        color: #f7f7f7;
        .header-logo{
            font-size: 3em;
        }
        @media screen and (max-width: 1024px) {
            height: 4em;
            .header-logo{
                font-size: 2.3em;
            }
          }
          @media screen and (max-width: 720px) {
            .header-logo{
                font-size: 5vw;
            }
          }
    }
    section {
        max-width: 70%;
        margin: 4em auto;
        &#about{
            display:flex;
            flex-direction: row;
            .about_image{
                margin-right: -5em;
                img{
                    display: block;
                    width: 110%;
                    border-radius: 5%;
                }
            }
            .about_text{
                background-color: #F5F5F5;
                color:#3d3f3f;
                display: block;
                margin: auto;
                padding: 3% 3%;
                border-radius: 5%;
                box-shadow: 10px 10px 30px #00000025;
                .about_text-title{
                    text-align: center;
                    font-size: 2em;
                    color: #798787;
                }
                .about_text-body{
                    padding-top:1em;
                    font-size: 1.1vw;
                    letter-spacing: 0.1em;
                    word-spacing: 0.1em;
                    text-align: center;
                    text-justify: auto;
                    line-height: 1.2em;
                }
            }
            @media screen and (max-width: 1024px) {
                max-width: 80%;
                .about_image{
                    img{
                        width: 120%;
                        margin-right: -5em;
                    }

                }
                .about_text{
                    .about_text-body{
                        font-size: 1.5vw;
                    }
                }
            }
            @media screen and (max-width: 720px) {
                max-width: 90%;
                .about_image{
                    width: 120em;

                    margin-right: -4em;
                }
                .about_text{
                    .about_text-body{
                        font-size: 1.9vw;
                    }
                }
            }
        }
        &#characteristics{
            background-color: #F5F5F5;
            border-radius: 5%;
            padding: 3% 3%;
            box-shadow: 7px 7px 25px 4px #00000025;
            .characteristics_title{
                text-align: center;
                font-size: 2em;
                color: #798787;
                margin-bottom:2em;
            }
            .characteristics_body{
                .characteristics_body-grid{
                    display:grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 3em;
                    row-gap:3em;
                    .characteristics_body-grid-item{
                        display: block;
                        background-color: #F4F4F4;
                        padding: 2em 2em;
                        box-shadow: 7px 7px 25px 4px #00000025;
                        border-radius: 5%;
                        .characteristics_body-grid-item-title{
                            text-align: center;
                            color: #798787;
                            font-size: 1.5em;
                            margin:0.8em 0;
                        }
                        .characteristics_body-grid-item-body{
                            font-size: 0.9em;
                            margin-bottom:1em;
                            letter-spacing: 0.1em;
                            word-spacing: 0.1em;
                            text-align: center;
                            text-justify: auto;
                            line-height: 1.2em;
                            color: #3d3f3f;
                        }
                    }
                }
            }
            @media screen and (max-width: 1024px) {
                .characteristics_title{
                    font-size: 1.6em;
                }
                .characteristics_body{
                    .characteristics_body-grid{
                        column-gap: 2em;
                        row-gap: 2em;
                        .characteristics_body-grid-item{
                            padding: 1em 1em;
                            .characteristics_body-grid-item-title{
                                font-size: 1em;
                            }
                            .characteristics_body-grid-item-body{
                                font-size: 0.7em;
                            }
                        }
                    }

                }

            }
            @media screen and (max-width: 720px) {
                .characteristics_title{
                    font-size: 1.2em;
                }
                .characteristics_body{
                    .characteristics_body-grid{
                        grid-template-columns: 1fr 1fr;
                        column-gap: 1.3em;
                        row-gap: 1.3em;
                        .characteristics_body-grid-item{
                            padding: 1em 1em;
                            .characteristics_body-grid-item-title{
                                font-size: 1em;
                            }
                            .characteristics_body-grid-item-body{
                                font-size: 0.8em;
                            }
                        }
                    }

                }
            }
            @media screen and (max-width: 540px) {
                .characteristics_title{
                    font-size: 1em;
                }
                .characteristics_body{
                    .characteristics_body-grid{
                        grid-template-columns: 1fr;
                        column-gap: 1.3em;
                        row-gap: 1.3em;
                        .characteristics_body-grid-item{
                            padding: 1em 1em;
                            .characteristics_body-grid-item-title{
                                font-size: 1em;
                            }
                            .characteristics_body-grid-item-body{
                                font-size: 0.7em;
                            }
                        }
                    }

                }
            }
        }
        &.offer{
            .offer_container {
                width: 100%; /* Container width */
                .offer_section{
                    display: flex;
                    align-items: center;
                    margin: 2em 0; /* Margin top and bottom for each section */
                    position: relative; /* For positioning text over the image */
                    &.left{
                        .text {
                            left: 0; /* Align text on the left side */
                        }
                        img{
                            float:right;
                        }
                    }
                    &.right{
                        flex-direction: row-reverse; /* Reverse the order for right-aligned sections */
                        .text {
                            right: 0; /* Align text on the right side */
                        }
                        img{
                            float:left;
                        }
                    }
                    .text {
                        position: absolute;
                        width: 50%; /* Width of the text block */
                        padding: 3em 2em;
                        border-radius: 5%;
                        color:3848888;
                        background-color: #F5F5F5; /* Slightly transparent white */
                        box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adding some shadow for better visibility */
                        .text-title{
                            text-align: center;
                            font-size: 2em;
                            color: #798787;
                            padding-bottom:0.5em;
                        }
                        .text-body{
                            font-size: 0.9em;
                            letter-spacing: 0.1em;
                            word-spacing: 0.1em;
                            text-align: center;
                            text-justify: auto;
                            line-height: 1.1em;
                        }
                    }
                    .image-placeholder {
                        flex:1;
                        margin: 0 10%; /* Horizontal margin */
                       
                        img{
                            width: 60%;
                            height: 100%;
                            border-radius: 5%;
                            box-shadow: 7px 7px 25px 4px #00000025;
                        }
                    }
                }
            } 
            @media screen and (max-width: 1024px) {
                .offer_container{
                    .offer_section{
                        margin: 3em 0;
                        .text {
                            padding: 1em 1em;
                            .text-title{
                                font-size: 1.4em;
                            }
                            .text-body{
                                font-size: 0.8em;
                            }
                        }
                        .image-placeholder {
                            img{
                                width: 80%;
                            }
                        }
                    }

                }

            }
            @media screen and (max-width: 720px) {
                .offer_container{
                    .offer_section{
                        margin: 4em 0;
                        .text {
                            padding: 0.6em 0.6em;
                            .text-title{
                                font-size: 1.2em;
                            }
                            .text-body{
                                font-size: 0.6em;
                            }
                        }
                        .image-placeholder {
                            img{

                                width: 90%;
                            }
                        }
                    }

                }

            }
            @media screen and (max-width: 540px) {
                .offer_container{
                    .offer_section{
                        margin: 4em 0;
                        .text {
                            padding: 0.3em 0.3em;
                            .text-title{
                                font-size: 1em;
                            }
                            .text-body{
                                font-size: 0.5em;
                            }
                        }
                        .image-placeholder {
                            img{
                                width: 100%;
                            }
                        }
                    }

                }
            }
            @media screen and (max-width: 400px) {
                .offer_container{
                    .offer_section{
                        .text {
                            padding: 0.2em 0.2em;
                            .text-title{
                                font-size: 0.8em;
                            }
                            .text-body{
                                font-size: 0.4em;
                            }
                        }
                        .image-placeholder {
                            img{
                                width: 100%;
                            }
                        }
                    }

                }
            }
        }
        &.offer_list{
            background-color: #F5F5F5;
            border-radius: 5%;
            padding: 2% 3% 2% 3%;
            box-shadow: 7px 7px 25px 4px #00000025;
            .offer_list_title{
                font-size: 2em;
                color: #798787;
                margin-bottom:2em;
            }
            .offer_list_body{
                    ul{
                        li{
                            font-size: 1.2em;
                            margin-left: 2em;
                            color: #3d3f3f;
                            line-height: 1.6em;
                            letter-spacing: 0.1em;
                            word-spacing: 0.1em;
                            list-style-type: disc;

                        }
                    }
                } 
        }
        &#contact{
            background-color: #F5F5F5;
            border-radius: 5%;
            padding: 2% 3% 2% 3%;
            box-shadow: 7px 7px 25px 4px #00000025;
            .contact_text{
                text-align: center;
                .contact_text-title{
                    font-size: 2em;
                    color: #798787;
                    margin-bottom:2em;
                }
                .contact_text-body{
                    font-size: 1.2em;
                    margin-left: 2em;
                    color: #3d3f3f;
                    line-height: 1.6em;
                    letter-spacing: 0.1em;
                    word-spacing: 0.1em;
                }
            }
            @media screen and (max-width: 1024px) {
                .contact_text{
                    .contact_text-title{
                        font-size: 1.8em;
                    }
                    .contact_text-body{
                        font-size: 1em;

                    }
                }
            }
            @media screen and (max-width: 720px) {
                .contact_text{
                    .contact_text-title{
                        font-size: 1.5em;
                    }
                    .contact_text-body{
                        font-size: 0.9em;

                    }
                }

            }
            @media screen and (max-width: 540px) {
                .contact_text{
                    .contact_text-title{
                        font-size: 1.2em;
                    }
                    .contact_text-body{
                        font-size: 0.7em;

                    }
                }
            }
        }
    }
    footer{
        background-color: #848888;
        flex-shrink: 0;
        .footer_text{
            color: #FFFFFF;
            padding: 0.8em 0;
            text-align:center;
            font-size:0.9em;
        }
        @media screen and (max-width: 540px) {
           .footer_text{
            font-size:2.5vw;
           }
        }
    }
}
